@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* --------------------------------------- GENERAL ---------------------------------------------- */
a {
  color: #fafafa;
}

.Button {
  margin-right: 20px;
}

.MuiButton-root {
  border-radius: 8px;
}

.Tyopgraphy {
  color: #fafafa;
}

.Link {
  color: whitesmoke;
}

.Link:hover {
  color: black;
}

/* --------------------------------------- HOME PAGE -------------------------------------------- */
.HomePage {
  /* background-color: aquamarine; */
  height: 100vh;
  display: flex;
  align-items: center;
}

.Home {
  display: flex;
  align-items: center;
}

.MyImage {
  border-radius: 50%;
}

/* ---------------------------------------- INFO PAGE ------------------------------------------- */
.Info-section {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  align-items: center;
}

.Info {
  display: flex;
  align-items: center;
}

/* ---------------------------------------- CONTACT PAGE ---------------------------------------- */

.Contact-me {
  /* background-color:dodgerblue; */
  height: 100vh;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.contact {
  display: flex;
  align-items: center;
}

/* ----------------------------------------- RESUME PAGE ---------------------------------------- */

.MyResume {
  padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
